{% extends "base.html" %}
{% block content %}
<h2 class="text-center mb-4">Recetas disponibles</h2>

<div class="row">
  {% for r in recetas %}
  <div class="col-md-4 mb-4">
    <div class="card h-100 shadow">
      <div class="card-body">
        <h5 class="card-title">{{ r.nombre }}</h5>
        <p class="card-text">{{ r.descripcion }}</p>
        <a href="{{ url_for('receta', id=loop.index0) }}" class="btn btn-primary">Ver receta</a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
